table {
    margin: auto;
}
.cell {
    text-align: center;
    border: 1px solid black;
    width: 35px;
    height: 35px;
    padding: 2px;
}

button {
    margin-left: 50%;
    transform: translate(-50%);
}

h1 {
    text-align: center;
}

.mine-pic {
    width: 25px;
}
.flag {
    font-size: 25px;
}

.covered {
    background-color: blue;
}